/* Toggle menu CSS */

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 1550px;
  padding-top: .5rem;
  width: 93%;

}

.main-header a{
  letter-spacing: .18rem;
  text-transform: uppercase;
}

.masthead{
  /* Both of these are needed to keep the #menu-toggle visible when nav list is active / open. */
  position: relative;
  z-index: 1000;
  /********************************/
  top: 0;
  left: 0;
  width: 100%;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.masthead h1{
  transition-delay: 450ms;
}

.menu-toggle{
  cursor: pointer;
  width: 55px;
  z-index: 3;
}

.menu-toggle div{
  background-color: #ccc;
  border-radius: 25px;
  box-shadow: 0px 3px 13px rgba(0,0,0,.3);
  height: 7px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(.13,.24,.35,1.64);
}

.menu-toggle .one,
.menu-toggle .two{
  margin-bottom: 7px;
}

/************* Style and animate the nav overlay ***********************/
.main-nav-list::before,
.main-nav-list::after{
  background-color:lightgray;
  content:"";
  position: absolute;
  top: 0;
  height: 100vh;
  width: 0vw;
  transition: all 100ms ease-in-out 300ms;
}

.main-nav-list::before{
  left: 0;
}
.main-nav-list::after{
  right: 0;
}

.main-nav-list ul{
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%,-50%);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  z-index: 2000;
}

.main-nav-list a{
  display: block;
  font-size: 2rem;
  letter-spacing: 3px;
  margin-bottom: 15px;
  opacity: 0;
  text-align: left;
  text-transform: uppercase;
  transition-delay: 130ms;
}

.main-nav-list .mobile-hide{/** Hide the link when viewing site on mobile devices. **/
  display: none;
}

/************* Style the nav elements when active. ***********************/
.masthead.active h1{
  text-shadow: 0px 3px 3px rgba(0,0,0,.4);
}

.menu-toggle.active .one{
  box-shadow: 0px 3px 13px rgba(0,0,0,.4);
  transform: translate(0, 14px) rotate(45deg);
}

.menu-toggle.active .two{
  background-color: transparent;
  box-shadow: none;
  transform: translateX(-55px);
}

.menu-toggle.active .three{
  box-shadow: 0px 3px 13px rgba(0,0,0,.4);
  transform: translate(0,-14px) rotate(-45deg);
}

.main-nav-list.active::before,
.main-nav-list.active::after{
  width: 25vw;
/*     transition-duration: 1000ms; */
}
.main-nav-list.active ul{
  top: 50%;
  transform: translate(-50%,-50%);
  transition-delay: 560ms;
  transition-duration: 240ms;
  transition-timing-function: cubic-bezier(.1, .2, .3, 1.4);
}

.main-nav-list.active a{
  transition-delay: 600ms;
  opacity: 1;
}


/* Event tracker CSS */
*{
  margin:0;
  font-family: 'Titillium Web', sans-serif;
}

body{
  background:whitesmoke;
  color:white;
}

.title{
  width: 500px;
  color:#da9db5;
  margin:3% auto;
}

.content{
  width: 800px;
  margin: 0 auto;
  background-color:#da9db5;
  padding: 3%;
  padding-left: 6%;
}

.secondTitle{
  text-align:left;
  margin: 2% 0;
  font-weight: 100;
}

.form{
  padding: 5px;
}

.formLine{
  display: inline-flex;
  padding: 5px 0px;
}

.left{
  float: left;
}

.right{
  float:right;
  margin-right: 100px;
}

input, select{
  width: 130px;
  margin-left: 10px;
}

/* table style */
table{
  width: 100%;
}

thead{
  background-color:black;
  line-height: 30px;
}

/* Button */

button{
  width: 200px;
  color:#fff; 
  padding: 10px;
  text-align: center;
  font-size: 1.1em;
  line-height: 20px;
  background-color: black;
  border-radius: 5px;
  margin: 14px 25%;
  cursor: pointer;
}

a{
  text-decoration: underline;
  cursor: pointer;
}